<p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="yyyy" ng-model="year" is-open="isOpen" datepicker-options="dateOptions"
        close-text="Close" alt-input-formats="altInputFormats" placeholder="{{placeholderText}}" current-text="This year" readonly />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="toggleDisplay()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>